# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache

# Virtual environment
venv/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
